regent/src/conf/xml-resources/web-service-references/VRSXMLWebservice3/wsdl/customertest.videcom.com/RegentAirways/vars/public/webservices/VRSXMLWebservice3.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://videcom.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://videcom.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://videcom.com/">
      <s:element name="msgStr" type="s:string" />
      <s:element name="RunVRSCommandXmlResult" type="s:string" />
      <s:element name="msg" type="tns:VrsXmlRequest" />
      <s:complexType name="VrsXmlRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Command" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RunVRSCommandResult" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RunVRSCommandXmlSoapIn">
    <wsdl:part name="msgStr" element="tns:msgStr" />
  </wsdl:message>
  <wsdl:message name="RunVRSCommandXmlSoapOut">
    <wsdl:part name="RunVRSCommandXmlResult" element="tns:RunVRSCommandXmlResult" />
  </wsdl:message>
  <wsdl:message name="RunVRSCommandSoapIn">
    <wsdl:part name="msg" element="tns:msg" />
  </wsdl:message>
  <wsdl:message name="RunVRSCommandSoapOut">
    <wsdl:part name="RunVRSCommandResult" element="tns:RunVRSCommandResult" />
  </wsdl:message>
  <wsdl:portType name="VrsXmlWebService3Soap">
    <wsdl:operation name="RunVRSCommandXml">
      <wsdl:input message="tns:RunVRSCommandXmlSoapIn" />
      <wsdl:output message="tns:RunVRSCommandXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunVRSCommand">
      <wsdl:input message="tns:RunVRSCommandSoapIn" />
      <wsdl:output message="tns:RunVRSCommandSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VrsXmlWebService3Soap" type="tns:VrsXmlWebService3Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunVRSCommandXml">
      <soap:operation soapAction="http://videcom.com/RunVRSCommandXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunVRSCommand">
      <soap:operation soapAction="http://videcom.com/RunVRSCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VrsXmlWebService3Soap12" type="tns:VrsXmlWebService3Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunVRSCommandXml">
      <soap12:operation soapAction="http://videcom.com/RunVRSCommandXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunVRSCommand">
      <soap12:operation soapAction="http://videcom.com/RunVRSCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VrsXmlWebService3">
    <wsdl:port name="VrsXmlWebService3Soap" binding="tns:VrsXmlWebService3Soap">
      <soap:address location="https://customertest.videcom.com/RegentAirways/vars/public/webservices/VRSXMLWebservice3.asmx" />
    </wsdl:port>
    <wsdl:port name="VrsXmlWebService3Soap12" binding="tns:VrsXmlWebService3Soap12">
      <soap12:address location="https://customertest.videcom.com/RegentAirways/vars/public/webservices/VRSXMLWebservice3.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>